/* Global CSS */

:root {
  --color-theme: #006466;
  --shadowcolor: rgb(4, 17, 68);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-theme);
}

section {
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}
