@import url(design-system/layout/style.css);
@import url(design-system/navbar/style.css);
@import url(design-system/buttons/style.css);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 40px;
  background-color: purple;
  margin: 0;
  text-align: center;
  text-shadow: 3px 1px 3px gray;
}

nav {
  display: flex;
  justify-content: center;
  background-color: purple;
}

button {
  padding: 10px 35px;
  margin: 0px;
}

img {
  width: 20px;
}
