@import url(design-system/grid-layout/style.css);
@import url(design-system/card/style.css);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 40px;
  background-color: purple;
  margin: 0;
  text-align: center;
  text-shadow: 3px 1px 3px gray;
}

nav {
  display: flex;
  justify-content: center;
  background-color: purple;
}

img {
  width: 20px;
}

section {
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}
