.mobile-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 48px 1fr 48px;
}

.content {
  overflow-y: auto;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, lightblue, rgb(29, 29, 230));
}

.button-nav {
  padding: 10px 35px;
  margin: 0px;
}
