.button-card {
  align-self: center;
  max-width: 100px;
  padding: 7.5px;
  margin: 15px;
  border-radius: 10px;
  background-color: var(--buttonColor);
  color: var(--fontColorButtons);
}

.button-card:hover {
  background-color: var(--hoverEffectButtonsPurple);
}

.submit {
  margin: 5px;
  padding: 5px;
  max-width: 130px;
  border-radius: 5px;
  background-color: var(--buttonColor);
  color: var(--fontColorButtons);
}

.submit:hover {
  background-color: var(--hoverEffectButtonsPurple);
}

.button-nav {
  padding: 5px 0;
  flex: 1;
  margin: 0;
  background-color: var(--color-theme);
}

.button-nav:hover {
  background-color: rgb(4, 124, 92);
}

.button-nav svg {
  color: var(--hoverEffectButtonsPurple);
}

.logoutButton {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--buttonColor);
  color: var(--fontColorButtons);
  max-width: 100px;
}
