.button-card {
  align-self: center;
  max-width: 100px;
  padding: 7.5px;
  margin: 15px;
  border-radius: 10px;
  background-color: #144552;
  color: white;
}

.submit {
  max-width: 130px;
  border-radius: 5px;
}

.button-nav {
  padding: 5px 0;
  flex: 1;
  margin: 0;
  background-color: var(--color-theme);
}

.button-nav svg {
  color: #4d194d;
}
