.card {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  background-image: url(/images/paper-texture.jpeg);
  box-shadow: 3px 3px 5px var(--shadowcolor);
  position: relative;
  max-width: 350px;
}

/* Places the Bookmark in the top right of the card */
.card img {
  position: absolute;
  top: -0.5rem;
  right: 2rem;
}

.card img:hover {
  color: grey;
}

.bookmark--black {
  color: black;
}
